/* Always set the map height explicitly to define the size of the div
       * element that contains the map.   */
       #myMapID {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      /*bounds changed on screen modified tutorial code*/
      #panel {
        position:absolute;
        top: 230px;    
        left: 70%;    
        z-index: 5;    
        padding: 0px;    
        border: 0px solid #999;    
        text-align: center; 
        background:#FFFB76;
        width:150px;
        color:rgb(0, 0, 0);
      }

      #panel, .panel {    
        font-family: 'Roboto','sans-serif';    
        line-height: 30px;    
        padding-left: 10px;    
      }    
        
      #panel select, #panel input, .panel select, .panel input {    
        font-size: 15px;    
      }    
        
      #panel select, .panel select {    
        width: 100%;    
      }    
        
      #panel i, .panel i {    
        font-size: 12px;    
      }

      .win{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      .win-content{
        background-color: #6ef3ef;
        margin: auto; /* 15% from the top and centered -- was 15%auto*/
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
      }


      /*modal learned from w3schools tutorial */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }

      .modal-content {
        background-color: #6ef3ef;
        margin: auto; /* 15% from the top and centered -- was 15%auto*/
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
      }

      .close {
        color: rgb(68, 68, 68);
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
